
@model IEnumerable<DAL.Scheduling>
@{
    List<DAL.Scheduling> schedulings = ViewBag.Schedulings;
    //List<DAL.BloodCenter> bloodCenters = ViewBag.BloodCenters;
}

<style>
    body {
        min-height: 1000px;
    }

    th, td {
        padding: 15px;
        text-align: left;
        border: 1px solid #222
    }

    .list_schedules {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }

    .tb_schedulings tbody tr td div {
        width: max-content;
    }
</style>
<h2 class="text-center" style="margin-top:2rem"> Bem-vindo!</h2>
<div class="position-relative" style="min-height:400px">

    <div class="list_schedules">
        <div class="position-absolute top-right">
        </div>

        <div>
            <h2 class="text-center">Lista de agendamentos</h2>
            <table class="table table-borderless tb_schedulings" style="margin-top: 1rem">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Doador</th>
                        <th scope="col">Fone</th>
                        <th scope="col">Data e hora</th>
                        <th scope="col">Local</th>
                        <th scope ="col">Ação</th>
</tr>
                </thead>
                <tbody>
                    @foreach (DAL.Scheduling scheduling in Model)
                    {
                        <tr style="border-bottom: 1px solid #eee">
                            @*<td>
                                    <span>@scheduling.id_schedule |</span>
                                </td>*@
                            <td>
                                <div>
                                    <span>@scheduling.name</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span>@scheduling.phone </span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="year">@(scheduling.date.ToString("MM/dd/yyyy H:mm")) </span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span>@scheduling.bloodCenter.name_bc </span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <form action="@Url.Action("Confirmation")" method="post">
                                        <input type="hidden" name="id" value="@scheduling.id" />
                                        <span><button type="submit" class="btn btn-success" id="confirm">Confirmar</button></span>
                                        <span><button type="submit" class="btn btn-danger" id="cancel">Cancelar</button></span>
                                    </form>
                                </div>

                            </td>

                            @*<td>
                                    <a href="@Url.Action("Detail", "Schedule", new { id = scheduling.id_schedule})"> Ver detalhes</a>
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>

</script>


